.booking-form-wrapper {
    margin: 20px !important;
}

.mat-mdc-form-field {
    width: 300px;
}

.book-meeting-header {
    justify-content: end;
    display: flex;
    margin-right: 10px;
}

.no-records {
    width: 100%;
    margin: 0 auto;
    margin: 20px;
}