<div class="booking-form-wrapper">
  <h1>Book Meeting Form</h1>
  <form class="booking-form" [formGroup]="bookingForm">
      <mat-form-field appearance="outline">
          <mat-label>Title</mat-label>
          <input matInput placeholder="Enter title" formControlName="title">
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <textarea matInput placeholder="Enter description" formControlName="description"></textarea>
      </mat-form-field>
      <br>

      <mat-form-field appearance="outline">
        <mat-label>Select Room</mat-label>
        <mat-select formControlName="room">
            <mat-option value="Room 1">Room 1</mat-option>
            <mat-option value="Room 2">Room 2</mat-option>
            <mat-option value="Room 3">Room 3</mat-option>
            <mat-option value="Room 4">Room 4</mat-option>
            <mat-option value="Room 5">Room 5</mat-option>
        </mat-select>
    </mat-form-field>
    <br>

      <mat-form-field appearance="outline">
          <mat-label>Start Date Time</mat-label>
          <input matInput [min]="min" [owlDateTimeTrigger]="dt" [owlDateTime]="dt" placeholder="Enter start date time" formControlName="timeFrom">
          <owl-date-time #dt></owl-date-time>
      </mat-form-field>

      <br>
      <mat-form-field appearance="outline">
          <mat-label>End Date Time</mat-label>
          <input matInput [min]="startDate" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" placeholder="Enter end date time" formControlName="timeTo">
          <owl-date-time #dt1></owl-date-time>
      </mat-form-field>
      
      <br>
      <mat-form-field appearance="outline">
          <mat-label>Attendees</mat-label>
          <textarea matInput placeholder="Enter attendees name" formControlName="attendees"></textarea>
      </mat-form-field>

      <br>      
      <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        @if (data?.action !== 'view') {
            <button [disabled]="!bookingForm.valid" (click)="createMeeting()" mat-button color="primary">
                @if (data?.action === 'new') {
                    Create
                }
                @if (data?.action === 'edit') {
                    Update
                }
            </button>
        }
      </mat-dialog-actions>
  </form>
</div>

<style>
.booking-form-wrapper {
    margin-top: 20px !important;
    margin: 0 auto;
}

.booking-form .mat-mdc-form-field {
    width: 300px;
}
</style>

