.example-container {
    height: 100%;
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
    margin: 20px;
  }

  .mat-sidenav {
    width: 200px;
  }

  a {
    text-decoration: none;
  }

  .mat-sidenav-content {
    margin-left: 200px;
  }